{% extends 'inventory/layouts/base.html' %}

{% load custom_filters %}

{% block content %}
    <h1>Inventory Management</h1>

    <h2>Categories:</h2>
    <ul>
        {% for category_value, category_label in categories %}
            <li>{{ category_label }}</li>
        {% endfor %}
    </ul>

    <h2>Products:</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>In Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category }}</td>
                    <td class="blue-text">{{ product.inventory }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        tr:nth-child(even) {
            background-color: #4CAF50;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        .blue-text {
            color: white;
        }
    </style>
{% endblock %}


